<h1>Login to this awesome app</h1>
<p>Best app to this day!</p>

<form>

    <div>
        <label for="username">Email/Username</label>
        <input type="text" name="username" id="username" placeholder="Enter your username..." 
        [(ngModel)]="user.username">

    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password..."
        [(ngModel)]="user.password">
    </div>
    
    <button type="button" (click)="onLoginClick()">Login</button>

</form>

