<h1>Register for an account</h1>
<p>Account is needed to use Survey Poodle</p>

<form>
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" 
        placeholder="Enter a username.."
        [(ngModel)]="user.username">
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" 
        placeholder="Enter a password.."
        [(ngModel)]="user.password">
    </div>

    <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" 
        placeholder="Confirm your password.."
        [(ngModel)]="user.confirmPassword">

    </div>

    <button type="button" (click)="onRegisterClick()">Register</button>

    

</form>

